{
	"extends": "standard",
	"rules": {
		"semi": ["error", "never"],
		"no-tabs": "off",
		"indent": ["error", "tab", { "MemberExpression": 0 }],
		"quotes": "off",
		"eqeqeq": "off",
		"no-throw-literal": "off",
		"camelcase": "off",
		"no-unused-vars": "off",
		"no-debugger": "off",
		"arrow-parens": ["error", "as-needed"],
		"comma-dangle": ["error", "always-multiline"],
		"no-mixed-operators": "off",
		"object-curly-spacing": ["error", "always"],
		"brace-style": ["error", "1tbs", { "allowSingleLine": false }],
		"curly": ["error", "multi-or-nest", "consistent"],
		"no-useless-escape": "off"
	}
}
